body{
  overflow-x: hidden;
}
main.table{
  width: 80%;
  height: 107.8vh;
  background-color: #fff5;
  margin: 0.5rem;

  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

.table_header{
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_header .input-group{
  width: 39%;
  height: 80%;
  background-color: #fff5;
  padding:0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
 }

 .table_header .input-group:hover{
  width: 39.5%;
  background-color: #fff7;
  box-shadow: 0 .1rem .4rem #0002;
 }

 .table_header .input-group input{
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background: transparent;
  border: none;
  outline: none;
 }

.table_header .input-group img{
 height: 1.2rem;
 width: 1.2rem;
}

.table_body{
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;
}



.table_body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

table{
  width: 100%;
}

table, th, td{
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th{
 position: sticky;
 top: 0;
 left: 0;
 background-color: #ffcb93;
 cursor: pointer;
}

thead th.active{
  color: #ff8400;
}

thead th.active span.icon-arrow{
  border: 1.4px solid #ff8400;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th span.icon-arrow{
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: .5rem;;
  transition: .2s ease-in-out;
  /* color: #ff8400;
  border: 1.4px solid #ff8400; */
}

thead td.active, tbody td.active{
  color: #ff8400;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr.hide{
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide{
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover{
  background-color: #fff6;
}

tbody tr td,
tbody tr td button{
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td button{
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out;
}

tbody tr.hide td img{
  width: 0;
  height: 0;
  transition: .2s ease-in-out;
}

button{
  background: #0002;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: .2s ease-in-out;
}

button:hover{
  background-color: #ff840066;
}

/* pet Entries */

.petEntries{
  position: absolute;
  right: 0.5%;
  top: 6.8%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 18%;
  border-radius: 0.8rem;

}

.appointmentModal .modalHeader .input-group{
  width: 39%;
  height: 50%;
  background-color: #fff5;
  padding:0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
 }

 .appointmentModal .modalHeader .input-group:hover{
  width: 40%;
  background-color: #fff7;
  box-shadow: 0 .1rem .4rem #0002;
 }

 .appointmentModal .modalHeader .input-group input{
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background: transparent;
  border: none;
  outline: none;
 }

 .appointmentModal .modalHeader .input-group img{
 height: 1.2rem;
 width: 1.2rem;
}

.petEntries input, select{
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #fff7;
  transition: .2s ;
}

.petEntries input:hover{
  background-color: #fff9;
  box-shadow: 0 .1rem .4rem #0002;
}

.petEntries input:focus{
  background-color: #fffb;
  box-shadow: 0 .1rem .4rem #0002;
}

.petEntryModal{
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #fff6;
  
  box-shadow: 0 .4rem .8rem #0005;
}

.petEntries .modalContent{
  padding: 0.5rem;
}

.petEntries .modalHeader{
  background-color: #fff4;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.modalHeader .close{
  transform: translateY(-50%);
}

.updateModal, .addModal{
  transform: translateX(100%);
  opacity: 0;
  transition: .5s ease;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.updateModal.active, .addModal.active{
  width: 100%;
  line-height: normal;
  height: min-content;
  transform: translateX(0);
  opacity: 1;
  margin-top: 0.5rem;
}

.close{
  font-size: 2rem;
  float: right;
  cursor: pointer;
}

.modalFooter button{
  float: right;
}

/* appointment */

.appointmentEntries, .allAppointmentEntries{
  background-color: #fff6;
  margin: 0;
  border-radius: 0.8rem;
  transition: .5s ease;

  opacity: 0;
  width: 0;
  height: 0;

  box-shadow: 0 .4rem .8rem #0005;
}

.appointmentEntries.active, .allAppointmentEntries.active{
  opacity: 1;
  width: 50%;
  height: 50%;
  margin: 0.5rem;
}

.appointmentEntries .modalHeader, .allAppointmentEntries .modalHeader{
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
  background-color: #fff4;
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointmentEntries .modalHeader h1, .allAppointmentEntries .modalHeader h1{
  font-size: 1.2rem
}

.appointmentEntries .modal-content, .allAppointmentEntries .modal-content{
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: space-around;
}

.appointmentEntries .modalSubHeader, .allAppointmentEntries .modalSubHeader{
  display: flex;
  flex-direction: row-reverse;
}

.modalSubHeader .close{
  transform: translateY(-70%);
}

#petHeaderName{
  color: #ff8400;
}
#petHeaderName1{
  color: #ff8400;
}

.modal-section{
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1.5px solid rgb(243, 224, 190);
  border-radius: 0.3rem;
  width: 100%;
}

.modal-section hr{
  border: 1.5px solid rgb(243, 224, 190);
}

.modal-section h3{
  text-align: center;
}

/* appointmentForm */
.appointmentForm{
  background-color: #fff6;
  
  
  border-radius: 0.8rem;
  /* position: absolute;
  transform: translateX(105%);
  top: 115.4%;
  float: right; */
  box-shadow: 0 .4rem .8rem #0005;
  transition: 0.5s ease-in-out;
  
  margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.appointmentForm.active{
  margin: 0.5rem 0 auto 0.5rem;
  width: 48%;
  opacity: 1;
  height: auto;
}

.appointmentForm .modalHeader{
  background-color: #fff4;
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 1rem;
}

.appointmentForm .modalHeader h1{
  font-size: 1.2rem
}

.appointmentForm .modalSubHeader span{
  transform: translateY(-20%);
  margin: 0.5rem;
}

.appointmentForm .container{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 1;
  width: 100%;
  
}
.appointmentForm .container div{
  margin: 0.5rem;
}
.appointmentForm .container input, textarea{
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}

.appointmentDetails{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  flex-grow: 1;
}

.appointmentSection{
  height: 53vh;
  overflow: auto;
}

.appointmentSection::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.appointmentSection::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.appointmentSection:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

.appointmentSection div{
  opacity: 1;
  transition: 0.5s ease;
}

.appointmentSection div:hover, .allAppointmentSection div:hover{
  background-color: rgb(255, 132, 0, 0.1);
}

.appointmentSection div.hidden, .allAppointmentSection div.hidden{
  opacity: 0;
  height: 0;
}


.modal-content .modal-section .sortingSection{
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content .modal-section .sortingSection select{
  padding: 0.5rem;
  margin: 0.3rem;
}

.modal-content .modal-section .sortingSection input{
  border: none;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  background-color: #fff7;
  outline: none;
}

.modal-content .modal-section .sortingSection span{
  padding: 0rem;
}


/* update pet validation */
/* pet name */
.alertPetName{
  display: none;
}

.alertPetName.show{
  display: block;
}


/* pet birthdate */
.alertBirthDate{
  display: none;
}

.alertBirthDate.show{
  display: block;
}

/* pet breed */
.alertPetBreed{
  display: none;
}

.alertPetBreed.show{
  display: block;
}

/* pet species */
.alertPetSpecies{
  display: none;
}

.alertPetSpecies.show{
  display: block;
}

/* pet species */
.alertPetSpecies{
  display: none;
}

.alertPetSpecies.show{
  display: block;
}